
<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem; height: 22rem;">
            <img src="assets/ville.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Villes</h5>
              <p class="card-text">list des villes</p>
              <a href="/cities" class="btn btn-primary stretched-link">villes filter</a>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem; height: 22rem;">
            <img src="assets/zone.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Zone</h5>
              <p class="card-text">list des zones</p>
              <a href="/zones" class="btn btn-primary stretched-link">villes filter</a>
            </div>
          </div>
      </div>
    </div>
  </div>
 <br>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem; height: 22rem;">
            <img src="assets/Spécialité.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Spécialité </h5>
              <p class="card-text">list des spécialités</p>
              <a href="#" class="btn btn-primary stretched-link">spécialité filter</a>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem; height: 22rem;">
            <img src="assets/Série.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Série</h5>
              <p class="card-text">list des Séries</p>
              <a href="#" class="btn btn-primary stretched-link">Série filter</a>
            </div>
          </div>
      </div>
    </div>
  </div>