<div class="container">
    <label>filtre par specialite :</label>
    <select class="form-select" aria-label="Default select example"
    ng-model="selectedSpecialite">
                <option value="">-- choose specialite --</option>
                <option *ngFor="let specialite of specialities" [ngValue]="specialite.id">{{specialite.type}}</option>
    </select>
</div>
<div class="container" >
    <div class="row">
        <ul *ngFor="let restaurant of restaurants" class="card-list col-sm">
	        <li class="card">
		        <a class="card-image" href="https://michellezauner.bandcamp.com/album/psychopomp-2" target="_blank" style="background-image: url(assets/ville.jpg);" data-image-full="assets/ville.jpg">
			        <img src="assets/ville.jpg" alt="Psychopomp" />
		        </a>
		        <a class="card-description" href="https://michellezauner.bandcamp.com/album/psychopomp-2" target="_blank">
			        <h2>{{ restaurant.restaurant.nom }}</h2>
			        <p>{{ restaurant.restaurant.description }}</p>
		        </a>
	        </li>
        </ul>
    </div>
</div>