<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container bootstrap snippets bootdey">
<section id="services" class="current">
    <div class="services-top">
        <div class="container bootstrap snippets bootdey">
            <div class="row text-center">
                <div class="col-sm-12 col-md-12 col-md-12">
                    <h2 style="font-size: 60px;line-height: 60px;margin-bottom: 20px;font-weight: 900;">Bienvenue à FUR</h2>
                    <h2>trouver rapidement votre restaurant favori</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-sm-12 col-md-12 col-md-10">
                    <div class="services-list">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-map-marker highlight"></div>
                                    <div class="text-block">
                                        <div class="name">Près de moi</div>
                                        <div class="info">proche de votre localisation</div>
                                        <div class="text">trouver un restaurant dans votre région en utilisant une carte pour fournir plus de détails</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-globe highlight"></div>
                                    <div class="text-block">
                                        <div class="name">Filtrer par ville</div>
                                        <div class="info">dans une ville spécifique</div>
                                        <div class="text">trouver un restaurant dans une ville spécifique</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-road highlight"></div>
                                    <div class="text-block">
                                        <div class="name">Filtrer par zone</div>
                                        <div class="info">dans une zone spécifique</div>
                                        <div class="text">trouver un restaurant dans une zone spécifique</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-cutlery highlight"></div>
                                    <div class="text-block">
                                        <div class="name">Filter par Spécialité</div>
                                        <div class="info">avec une Spécialité spécifique</div>
                                        <div class="text">trouver un restaurant dans une Spécialité spécifique</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-bars highlight"></div>
                                    <div class="text-block">
                                        <div class="name">Filter par Série</div>
                                        <div class="info">Série des restaurants </div>
                                        <div class="text">trouver un restaurant dans une Série spécifique </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-eye highlight"></div>
                                    <div class="text-block">
                                        <div class="name">Visualiser les restaurants</div>
                                        <div class="info">photos pour plus de détails</div>
                                        <div class="text"> parcourir les photos du restaurant avant de prendre une décision  </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>                    