<div class="container">
    <label for="selectville">filtre par ville :</label>
    <select class="form-select" aria-label="Default select example" id="selectville"
    ng-model="selectedCity" >
                <option value="">-- choose ville --</option>
                <option *ngFor="let city of cities" [ngValue]="city.id">{{ city.nom }}</option>
    </select>
</div>
<br>
<div class="container">
    <label for="selectzone">filtre par zone :</label>
    <select class="form-select" aria-label="Default select example" id="selectzone"
    ng-model="selectedYear" ng-options="item as item.Year for item in data2.data track by item.Year">
                <option value="">-- choose zone --</option>
                <option *ngFor="let data of data2.data" [ngValue]="data">{{ data.Year }}</option>
    </select>
</div>