<div class="container">
    <label for="selectville">filtre par ville :</label>
    <select class="form-select" aria-label="Default select example" id="selectville"
    ng-model="selectedCity" >
                <option value="">-- choose ville --</option>
                <option *ngFor="let city of cities" [ngValue]="city.id">{{ city.nom }}</option>
    </select>
    <label>{{cities[0].nom}}</label>
</div>
<br>
<div class="container">
    <label for="selectzone">filtre par zone :</label>
    <select class="form-select" aria-label="Default select example" id="selectzone"
    ng-model="selectedZone" >
            <option value="">-- choose zone --</option>
            <option *ngFor="let city of zones" [ngValue]="city.id">{{ city.nom }}</option>
    </select>
</div>

<div class="container" >
    <div class="row">
        <ul *ngFor="let restaurant of restaurants" class="card-list col-sm">
	        <li class="card">
		        <a class="card-image" href="https://michellezauner.bandcamp.com/album/psychopomp-2" target="_blank" style="background-image: url(assets/ville.jpg);" data-image-full="assets/ville.jpg">
			        <img src="assets/ville.jpg" alt="Psychopomp" />
		        </a>
		        <a class="card-description" href="https://michellezauner.bandcamp.com/album/psychopomp-2" target="_blank">
			        <h2>{{ restaurant.restaurant.nom }}</h2>
			        <p>{{ restaurant.restaurant.description }}</p>
		        </a>
	        </li>
        </ul>
    </div>
</div>